.card{ 
    background-color: var(--color-black) !important;
    width: 160px !important;
    /* height: 205px; */
    margin: 20px;
}
.cardImg{
    border-radius: 10px 10px 0px 0px;
    width: 160px;
    height: 170px;
    margin: 0px;
}
.cardContent{ 
    height: 170px;
}
.cardActions{
    border-radius: 0px 0px 10px 10px;
    background-color: var(--color-white) !important;
    justify-content: center;
    width: 160px;
    padding: 4px 0;
}
.cardButton{
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 10px;
    padding: 4px 8px;
    border: none;
    margin: 0 0 0 6px;
}