.Albumcard{
    width: 160px !important;
    font-family: var(--font-family) !important;
    margin: 15px;
}
.card{  
    width: 160px !important;    
}
.cardImg{
    border-radius: 10px 10px 0px 0px;
    width: 160px;
    height: 100%;
    margin: 0px;
    object-fit: cover;
}
.cardContent{ 
    height: 170px;
}
.cardActions{
    border-radius: 0px 0px 10px 10px;
    background-color: var(--color-white) !important;
    justify-content: center;
    width: 160px;
    padding: 6px 0;
}
.cardButton{
    background-color: var(--color-black) !important;
    color: var(--color-white) !important;
    border: none;
    margin: 0 0 0 6px;
    font-family: var(--font-family) !important;
}
.cardFooterText{
    font-family: var(--font-family) !important;
    color: var(--color-white) !important; 
    margin: 4px 0 0 0px !important;
}